"extends": ["airbnb", "airbnb/hooks"]

rules:
    react/no-array-index-key: off
    react-hooks/exhaustive-deps: off
    react/jsx-filename-extension: off
    
    react/prop-types: off
    no-console: off
    
    import/no-extraneous-dependencies: off
    